[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.0"
"beautifulsoup4" = ">=4.6"
pylev = ">=1.3"
prompt-toolkit = ">=2.0"
tinydb = ">=3.11"
toml = ">=0.10"

[dev-packages]
bumpversion = ">=0.5"
watchdog = ">=0.9"
"flake8" = ">=3.6"
icecream = ">=1.3"
pylint = ">=2.1"
tox = ">=3.5"
pytest-runner = ">=4.2"
pytest-cov = ">=2.6"
pytest = ">=3.10"
